<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104942916182-nk92i8n1or0hk19blu57tvqnvtm84m9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104942916182-nk92i8n1or0hk19blu57tvqnvtm84m9r</string>
	<key>API_KEY</key>
	<string>AIzaSyAE9rLtOiilwdyd8wF7I3t0g7kNo0y2fgg</string>
	<key>GCM_SENDER_ID</key>
	<string>104942916182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minckan.Carrot-Market</string>
	<key>PROJECT_ID</key>
	<string>carrot-market-3cdbf</string>
	<key>STORAGE_BUCKET</key>
	<string>carrot-market-3cdbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104942916182:ios:ae08e8a8dac4f5a00ea1f7</string>
</dict>
</plist>